@import "default";
.container{
  background-color:@colorG;
  .nav-left{
    height:calc(100vh);
    background-color:#001529;
    color: white;
  }
  .main{
    background-color:@colorK;
  }
  .content{
    position: relative;
    padding: 20px;
  }
}